
$main-orange: #FF693A;
$light-orange: #FF8963;
$lighter-orange: #FFB299;
$darker-orange: #D64011;

$main-green: #0C9650;
$light-green: #54D995;
$lighter-green: rgba(226, 255, 230, 0.92);
$darker-green: #02562B;

$white: #fff;

$text-color: rgba(0, 0, 0, 0.83);