
$main-green: #c2ca38;


$main-blue: #4e5b73;
$light-blue: #7E94AF;
$lighter-green: rgba(226, 255, 230, 0.92);
$darker-blue: #0B2343;

$white: #fff;
$gray: #888888;
$text-color: rgba(0, 0, 0, 0.83);